extends ../layout/default
include ../components/mixins/loop
include ../components/mixins/icon

block vars
    - pageClass = 'page-built-card'
    - headTitle = 'Карточка построенного проекта'
block content
    .page-content
        .page-built-card__section
            .container
                .breadcrumbs
                    a(href="#") Главная
                    a(href="#") Построенные дома
                    a(href="#") Осиновая роща
        .page-built-card__tags
            .container
                .tags
                    a(href="#").tag #экосити_глубокое
        .page-built-card__product-detail
            .block-product-detail
                .container
                    .bootstrap-wrapper
                        .row
                            .col-md-6
                                .block-product-detail-gallary
                                    .block-product-detail-gallary__header
                                        img(src=require('../../public/images/projects/1.jpg')).block-product-detail-gallary__image
                                        p.block-product-detail-gallary__badge.badge.badge--red-full ХИТ
                                    .block-product-detail-gallary__main
                                        .block-product-detail-gallary__items.swiper
                                            .swiper-wrapper
                                                div(data-src=require('../../public/images/projects/1.jpg')).block-product-detail-gallary__item.swiper-slide
                                                    img(src=require('../../public/images/projects/1.jpg'))
                                                div(data-src=require('../../public/images/projects/1.jpg')).block-product-detail-gallary__item.swiper-slide
                                                    img(src=require('../../public/images/projects/1.jpg'))
                                                div(data-src=require('../../public/images/projects/1.jpg')).block-product-detail-gallary__item.swiper-slide
                                                    img(src=require('../../public/images/projects/1.jpg'))
                                                div(data-src=require('../../public/images/projects/1.jpg')).block-product-detail-gallary__item.swiper-slide
                                                    img(src=require('../../public/images/projects/1.jpg'))
                                                div(data-src=require('../../public/images/projects/1.jpg')).block-product-detail-gallary__item.swiper-slide
                                                    img(src=require('../../public/images/projects/1.jpg'))
                                                div(data-src=require('../../public/images/projects/1.jpg')).block-product-detail-gallary__item.swiper-slide
                                                    img(src=require('../../public/images/projects/1.jpg'))
                                                div(data-src=require('../../public/images/projects/1.jpg')).block-product-detail-gallary__item.swiper-slide
                                                    img(src=require('../../public/images/projects/1.jpg'))
                                                div(data-src=require('../../public/images/projects/1.jpg')).block-product-detail-gallary__item.swiper-slide
                                                    img(src=require('../../public/images/projects/1.jpg'))
                                                div(data-src=require('../../public/images/projects/1.jpg')).block-product-detail-gallary__item.swiper-slide
                                                    img(src=require('../../public/images/projects/1.jpg'))
                                                div(data-src=require('../../public/images/projects/1.jpg')).block-product-detail-gallary__item.swiper-slide
                                                    img(src=require('../../public/images/projects/1.jpg'))

                            .col-md-5
                                h1.block-product-detail__title Осиновая роща
                                p.block-product-detail__text Одноэтажный дом с втопленной террасой общей площадью 108 м2 и жилой площадью 85 м2. В доме есть большая кухня-гостиная, 3 спальни. Дом возводили на винтовых сваях, межкомнатные перегородки каркасные, высота потолков 2,8.
                                p.block-product-detail__text В качестве отделки заказчик выбрал битумную мягкую черепицу на кровлю, а для фасада – блок-хаус (имитация бруса).
                                p.block-product-detail__text В кухне-гостиной есть панорамные окна в пол, а на террасе мы установили мансардные окна, чтобы добавить света.
                                p.block-product-detail__prices.block-product-detail__prices--big
                                    span.block-product-detail__price 1 974 780
                                        span ₽
                                .block-product-detail__buttons
                                    a(href="#").btn.btn--primary.btn--text-small Оставить заявку
                                    span.btn
        .page-built-card__additional
            .container
                .bootstrap-wrapper
                    .row
                        .col-md-6
                            .block-additional
                                .block-additional__wrapper
                                    h2.block-additional__title Дополнительная информация
                                    .block-additional__items
                                        .block-additional__item
                                            +icon('calendar', 'block-additional__icon')
                                            p.block-additional__caption дом был сдан в августе 2021 г.
                                        .block-additional__item
                                            +icon('clock', 'block-additional__icon')
                                            p.block-additional__caption Срок возведения дома:
                                            p.block-additional__value 1,5 мес
                                        .block-additional__item
                                            +icon('area', 'block-additional__icon')
                                            p.block-additional__caption Общая площадь:
                                            p.block-additional__value 53.12 м2
                                        .block-additional__item
                                            +icon('stairs', 'block-additional__icon')
                                            p.block-additional__caption этажность
                                            p.block-additional__value 2
                                        .block-additional__item
                                            +icon('layout', 'block-additional__icon')
                                            p.block-additional__caption Кол-во комнат:
                                            p.block-additional__value 2

                        .col-md-4
                            .sertificate
                                .sertificate__wrapper
                                    .sertificate__item
                                        .sertificate__image
                                            a(href="#").sertificate__link
                                            img(src=require('../../public/images/certificate.jpg'))
                                            .sertificate__loop
                                                +icon('search')
                                        p.sertificate__place
                                            +icon('place')
                                            | Кокорево-на-Ладоге
                                    .sertificate__item
                                        p.sertificate__title Полещиков Вячеслав Васильевич
                                        .sertificate__quot
                                            +icon('quotes')
                                            p.sertificate__text Проект дома выполнен по моему эскизу, учтены все пожелания. Монтаж дома произведен в установленные сроки. Качество работ оцениваю на хорошо.
        .page-built-card__construction
            .container
                .bootstrap-wrapper
                    .page-built-card__construction-row.row
                        .col-md-6
                            h2.title Ход строительства
                            .page-built-card__single-slider.single-slider.swiper
                                .single-slider__wrapper.swiper-wrapper
                                    +loop(6)
                                        .single-slider__slide.swiper-slide
                                            img(src=require('../../public/images/single-slide.jpg'))
                                .single-slider__pagination.swiper-pagination
                                .single-slider__button.single-slider__button--next
                                    +icon('slider-next')
                                .single-slider__button.single-slider__button--prev
                                    +icon('slider-prev')
                        .col-md-6
                            h2.title Фасады
                            .page-built-card__single-slider.single-slider.swiper
                                .single-slider__wrapper.swiper-wrapper
                                    +loop(6)
                                        .single-slider__slide.swiper-slide
                                            img(src=require('../../public/images/single-slide2.jpg'))
                                .single-slider__pagination.swiper-pagination
                                .single-slider__button.single-slider__button--next
                                    +icon('slider-next')
                                .single-slider__button.single-slider__button--prev
                                    +icon('slider-prev')
        .page-built-card__video-review.block-video-review
            .block-video-review__background
                img(src=require('../../public/images/block-video-review.png'))
                img(src=require('../../public/images/block-video-review-2.png'))
                img(src=require('../../public/images/block-video-review-3.png'))
            .container
                .block-video-review__wrapper.bootstrap-wrapper
                    .row
                        .col-md-7
                            h2.block-video-review__title.title Видео отзыв
                            .block-video-review__image
                                a(href="#").block-video-review__link
                                +icon('play')
                                img(src=require('../../public/images/block-video-review-4.jpg'))
                        .col-md-5
        .page-built-card__contact-form
            .contact-form
                .contact-form__background
                    img(src=require('../../public/images/contact-form.jpg')).contact-form__image
                .contact-form__container.container
                    .contact-form__wrapper
                        .contact-form__header.contact-form__header--big
                            h2.contact-form__title.contact-form__title--big.title.title--gradient Хочу такой же дом!
                        form.contact-form__main
                            .contact-form__main-wrapper
                                p.contact-form__caption Обратиться к нам
                                label.contact-form__label
                                    input(type="text" name="username" placeholder="Имя(без фамилии)" required).contact-form__input
                                label.contact-form__label
                                    input(type="text" name="userphone" placeholder="Телефон" required).contact-form__input.phone-mask
                                button(type="submit").contact-form__submit.btn.btn--primary оставить заявку