extends ../layout/default
include ../components/mixins/loop
include ../components/mixins/icon

block vars
    - pageClass = 'card-product'
    - headTitle = 'Карточка товара'
block content
    .page-content
        .card-product__section
            .container
                .breadcrumbs
                    a(href="#") Главная
                    a(href="#") Типовые проекты
                    a(href="#") Осиновая роща


        .card-product__product-detail
            .block-product-detail
                .container
                    .block-product-detail__wrapper
                        .block-product-detail__item
                            .block-product-detail-gallary
                                .block-product-detail-gallary__header
                                    img(src=require('../../public/images/projects/1.jpg')).block-product-detail-gallary__image
                                    p.block-product-detail-gallary__badge.badge.badge--red-full ХИТ
                                .block-product-detail-gallary__main
                                    .block-product-detail-gallary__items.swiper
                                        .swiper-wrapper
                                            div(data-bp=require('../../public/images/projects/1.jpg')).block-product-detail-gallary__item.swiper-slide
                                                img(src=require('../../public/images/projects/1.jpg')).block-product-detail-gallary__image-child
                                            div(data-bp=require('../../public/images/projects/2.jpg')).block-product-detail-gallary__item.swiper-slide
                                                img(src=require('../../public/images/projects/2.jpg')).block-product-detail-gallary__image-child
                                            div(data-bp=require('../../public/images/projects/3.jpg')).block-product-detail-gallary__item.swiper-slide
                                                img(src=require('../../public/images/projects/3.jpg')).block-product-detail-gallary__image-child
                        .block-product-detail__item
                            h1.block-product-detail__title Осиновая роща
                            p.block-product-detail__text Тогда Вы можете внести в него изменения, либо спроектировать по вашему эскизу индивидуально.Тогда Вы можете внести в него изменения, либо спроектировать по вашему эскизу индивидуально.Тогда Вы можете внести в него изменения, либо спроектировать по вашему эскизу индивидуально.
                            .block-product-detail-items
                                .block-product-detail-item
                                    .block-product-detail-item__icon
                                        +icon('area')
                                    p.block-product-detail-item__caption Общая площадь:
                                    p.block-product-detail-item__text 53.12 м2
                                .block-product-detail-item
                                    .block-product-detail-item__icon
                                        +icon('stairs')
                                    p.block-product-detail-item__caption этажность
                                    p.block-product-detail-item__text 2
                                .block-product-detail-item
                                    .block-product-detail-item__icon
                                        +icon('layout')
                                    p.block-product-detail-item__caption Кол-во комнат
                                    p.block-product-detail-item__text 2
                                .block-product-detail-item
                                    .block-product-detail-item__icon
                                        +icon('sleep')
                                    p.block-product-detail-item__caption Кол-во спален
                                    p.block-product-detail-item__text 2
                                .block-product-detail-item
                                    .block-product-detail-item__icon
                                        +icon('tub')
                                    p.block-product-detail-item__caption Кол-во санузлов
                                    p.block-product-detail-item__text 1
                            p.block-product-detail__prices
                                span.block-product-detail__price 1 974 780
                                    span ₽
                                | -
                                span.block-product-detail__price 1 974 780
                                    span ₽
                            .block-product-detail__buttons
                                a(href="#").btn.btn--primary.btn--text-small Оставить заявку
                                a(href="#").btn.btn--primary-outline.btn--text-small Получить консультацию
        .card-product__button
            .container
                hr
                a(href="#").btn.btn--primary.btn--text-small Дома, построенные по этому проекту
                hr
        .card-product__table
            .container
                .block-table
                    .block-table__item
                        .block-table__cell
                            p.block-table__title Комплектация
                        .block-table__cell
                            p.block-table__title Комплект дома
                        .block-table__cell
                            p.block-table__title Комплект с монтажом
                        .block-table__cell
                            p.block-table__title Дом под отделку
                        .block-table__cell
                            p.block-table__title Дом под отделку
                    .block-table__item
                        .block-table__cell
                            p.block-table__caption Цена
                        .block-table__cell
                            p.block-table__value 974 780 ₽
                        .block-table__cell
                            p.block-table__value 1 087 063 ₽
                        .block-table__cell
                            p.block-table__value 1 182 450 ₽
                        .block-table__cell
                            p.block-table__value 1 389 645 ₽
                    .block-table__item
                        .block-table__cell
                            p.block-table__caption Проект дома
                            p.block-table__text Разделы АР и КР, оформленные в соответствии со стандартом Eco-City
                        .block-table__cell
                            +icon('check', 'block-table__icon')
                        .block-table__cell
                            +icon('check', 'block-table__icon')
                        .block-table__cell
                            +icon('check', 'block-table__icon')
                        .block-table__cell
                            +icon('check', 'block-table__icon')
                    .block-table__item
                        .block-table__cell
                            p.block-table__caption SIP панели
                            p.block-table__text Для сборки перекрытий фундамента, межэтажного, чердачного, ограждающих и межкомнатных стен первого и второго этажа, кровли
                        .block-table__cell
                            +icon('check', 'block-table__icon')
                        .block-table__cell
                            +icon('check', 'block-table__icon')
                        .block-table__cell
                            +icon('check', 'block-table__icon')
                        .block-table__cell
                            +icon('check', 'block-table__icon')
                    .block-table__item
                        .block-table__cell
                            p.block-table__caption Пиломатериал
                            p.block-table__text Соединительная доска, доска обвязки, стропильная доска, лаги перекрытий
                        .block-table__cell
                            +icon('check', 'block-table__icon')
                        .block-table__cell
                            +icon('check', 'block-table__icon')
                        .block-table__cell
                            +icon('check', 'block-table__icon')
                        .block-table__cell
                            +icon('check', 'block-table__icon')
                    .block-table__item
                        .block-table__cell
                            p.block-table__caption Крепеж, монтажная пена, ветрозащита стен
                        .block-table__cell
                            +icon('check', 'block-table__icon')
                        .block-table__cell
                            +icon('check', 'block-table__icon')
                        .block-table__cell
                            +icon('check', 'block-table__icon')
                        .block-table__cell
                            +icon('check', 'block-table__icon')
                    .block-table__item
                        .block-table__cell
                            p.block-table__caption Доставка
                            p.block-table__text Транспортная зона Юг
                        .block-table__cell
                        .block-table__cell
                            +icon('check', 'block-table__icon')
                        .block-table__cell
                            +icon('check', 'block-table__icon')
                        .block-table__cell
                            +icon('check', 'block-table__icon')
                    .block-table__item
                        .block-table__cell
                            p.block-table__caption Сборка домокомплекта
                            p.block-table__text На фундаменте Заказчика
                        .block-table__cell
                        .block-table__cell
                            +icon('check', 'block-table__icon')
                        .block-table__cell
                            +icon('check', 'block-table__icon')
                        .block-table__cell
                            +icon('check', 'block-table__icon')
                    .block-table__item
                        .block-table__cell
                            p.block-table__caption Фундамент
                            p.block-table__text Железо-бетонные забивные сваи, длина 3 м
                        .block-table__cell
                        .block-table__cell
                        .block-table__cell
                            +icon('check', 'block-table__icon')
                        .block-table__cell
                            +icon('check', 'block-table__icon')
                    .block-table__item
                        .block-table__cell
                            p.block-table__caption Кровельное покрытие
                            p.block-table__text Мягкая битумная черепица Shinglas, цвет на выбор. С доставкой и монтажом
                        .block-table__cell
                        .block-table__cell
                        .block-table__cell
                        .block-table__cell
                            +icon('check', 'block-table__icon')
                    .block-table__item
                        .block-table__cell
                            p.block-table__caption Вентиляция
                            p.block-table__text Вентиляция для каркасного дома
                        .block-table__cell
                        .block-table__cell
                        .block-table__cell
                        .block-table__cell
                            +icon('check', 'block-table__icon')
                    .block-table__item
                        .block-table__cell
                            p.block-table__caption Остекление
                            p.block-table__text Двухкамерные пластиковые стеклопакеты белого цвета, с отливами, доставкой и монтажом
                        .block-table__cell
                        .block-table__cell
                        .block-table__cell
                        .block-table__cell
                            +icon('check', 'block-table__icon')
                    .block-table__item
                        .block-table__cell
                            p.block-table__caption Двери
                            p.block-table__text Металлические входные двери. С доставкой и монтажом
                        .block-table__cell
                        .block-table__cell
                        .block-table__cell
                        .block-table__cell
                            +icon('check', 'block-table__icon')
        .card-product__table--mobile
            .container
                .block-table-mobile
                    h2.block-table-mobile__title.title Комплектация
                    .block-table-mobile__item
                        p.block-table-mobile__caption Комплект дома
                        p.block-table-mobile__price 974 780 ₽
                        .block-table-mobile__cells
                            .block-table-mobile__cell
                                +icon('check', 'block-table-mobile__icon')
                                .block-table-mobile__cell-item
                                    p.block-table-mobile__subtitle Проект дома
                                    p.block-table-mobile__text Разделы АР и КР, оформленные в соответствии со стандартом Eco-City
                            .block-table-mobile__cell
                                +icon('check', 'block-table-mobile__icon')
                                .block-table-mobile__cell-item
                                    p.block-table-mobile__subtitle SIP панели
                                    p.block-table-mobile__text Для сборки перекрытий фундамента, межэтажного, чердачного, ограждающих и межкомнатных стен первого и второго этажа, кровли
                            .block-table-mobile__cell
                                +icon('check', 'block-table-mobile__icon')
                                .block-table-mobile__cell-item
                                    p.block-table-mobile__subtitle Пиломатериал
                                    p.block-table-mobile__text Соединительная доска, доска обвязки, стропильная доска, лаги перекрытий
                            .block-table-mobile__cell
                                +icon('check', 'block-table-mobile__icon')
                                .block-table-mobile__cell-item
                                    p.block-table-mobile__subtitle Крепеж, монтажная пена, ветрозащита стен
                        button.block-table-mobile__button
                            span раскрыть
                            +icon('arrow-small_down')
                    .block-table-mobile__item
                        p.block-table-mobile__caption Комплект с монтажом
                        p.block-table-mobile__price 974 780 ₽
                        .block-table-mobile__cells
                            .block-table-mobile__cell
                                +icon('check', 'block-table-mobile__icon')
                                .block-table-mobile__cell-item
                                    p.block-table-mobile__subtitle Проект дома
                                    p.block-table-mobile__text Разделы АР и КР, оформленные в соответствии со стандартом Eco-City
                            .block-table-mobile__cell
                                +icon('check', 'block-table-mobile__icon')
                                .block-table-mobile__cell-item
                                    p.block-table-mobile__subtitle SIP панели
                                    p.block-table-mobile__text Для сборки перекрытий фундамента, межэтажного, чердачного, ограждающих и межкомнатных стен первого и второго этажа, кровли
                            .block-table-mobile__cell
                                +icon('check', 'block-table-mobile__icon')
                                .block-table-mobile__cell-item
                                    p.block-table-mobile__subtitle Пиломатериал
                                    p.block-table-mobile__text Соединительная доска, доска обвязки, стропильная доска, лаги перекрытий
                            .block-table-mobile__cell
                                +icon('check', 'block-table-mobile__icon')
                                .block-table-mobile__cell-item
                                    p.block-table-mobile__subtitle Крепеж, монтажная пена, ветрозащита стен
                            .block-table-mobile__cell
                                +icon('check', 'block-table-mobile__icon')
                                .block-table-mobile__cell-item
                                    p.block-table-mobile__subtitle Доставка
                                    p.block-table-mobile__text Транспортная зона Юг
                            .block-table-mobile__cell
                                +icon('check', 'block-table-mobile__icon')
                                .block-table-mobile__cell-item
                                    p.block-table-mobile__subtitle Сборка домокомплекта
                                    p.block-table-mobile__text На фундаменте Заказчика
                        button.block-table-mobile__button
                            span раскрыть
                            +icon('arrow-small_down')
                    .block-table-mobile__item
                        p.block-table-mobile__caption Дом под отделку
                        p.block-table-mobile__price 974 780 ₽
                        .block-table-mobile__cells
                            .block-table-mobile__cell
                                +icon('check', 'block-table-mobile__icon')
                                .block-table-mobile__cell-item
                                    p.block-table-mobile__subtitle Проект дома
                                    p.block-table-mobile__text Разделы АР и КР, оформленные в соответствии со стандартом Eco-City
                            .block-table-mobile__cell
                                +icon('check', 'block-table-mobile__icon')
                                .block-table-mobile__cell-item
                                    p.block-table-mobile__subtitle SIP панели
                                    p.block-table-mobile__text Для сборки перекрытий фундамента, межэтажного, чердачного, ограждающих и межкомнатных стен первого и второго этажа, кровли
                            .block-table-mobile__cell
                                +icon('check', 'block-table-mobile__icon')
                                .block-table-mobile__cell-item
                                    p.block-table-mobile__subtitle Пиломатериал
                                    p.block-table-mobile__text Соединительная доска, доска обвязки, стропильная доска, лаги перекрытий
                            .block-table-mobile__cell
                                +icon('check', 'block-table-mobile__icon')
                                .block-table-mobile__cell-item
                                    p.block-table-mobile__subtitle Крепеж, монтажная пена, ветрозащита стен
                            .block-table-mobile__cell
                                +icon('check', 'block-table-mobile__icon')
                                .block-table-mobile__cell-item
                                    p.block-table-mobile__subtitle Доставка
                                    p.block-table-mobile__text Транспортная зона Юг
                            .block-table-mobile__cell
                                +icon('check', 'block-table-mobile__icon')
                                .block-table-mobile__cell-item
                                    p.block-table-mobile__subtitle Сборка домокомплекта
                                    p.block-table-mobile__text На фундаменте Заказчика
                            .block-table-mobile__cell
                                +icon('check', 'block-table-mobile__icon')
                                .block-table-mobile__cell-item
                                    p.block-table-mobile__subtitle Фундамент
                                    p.block-table-mobile__text Железо-бетонные забивные сваи, длина 3 м
                        button.block-table-mobile__button
                            span раскрыть
                            +icon('arrow-small_down')
                    .block-table-mobile__item
                        p.block-table-mobile__caption Дом под отделку
                        p.block-table-mobile__price 974 780 ₽
                        .block-table-mobile__cells
                            .block-table-mobile__cell
                                +icon('check', 'block-table-mobile__icon')
                                .block-table-mobile__cell-item
                                    p.block-table-mobile__subtitle Проект дома
                                    p.block-table-mobile__text Разделы АР и КР, оформленные в соответствии со стандартом Eco-City
                            .block-table-mobile__cell
                                +icon('check', 'block-table-mobile__icon')
                                .block-table-mobile__cell-item
                                    p.block-table-mobile__subtitle SIP панели
                                    p.block-table-mobile__text Для сборки перекрытий фундамента, межэтажного, чердачного, ограждающих и межкомнатных стен первого и второго этажа, кровли
                            .block-table-mobile__cell
                                +icon('check', 'block-table-mobile__icon')
                                .block-table-mobile__cell-item
                                    p.block-table-mobile__subtitle Пиломатериал
                                    p.block-table-mobile__text Соединительная доска, доска обвязки, стропильная доска, лаги перекрытий
                            .block-table-mobile__cell
                                +icon('check', 'block-table-mobile__icon')
                                .block-table-mobile__cell-item
                                    p.block-table-mobile__subtitle Крепеж, монтажная пена, ветрозащита стен
                            .block-table-mobile__cell
                                +icon('check', 'block-table-mobile__icon')
                                .block-table-mobile__cell-item
                                    p.block-table-mobile__subtitle Доставка
                                    p.block-table-mobile__text Транспортная зона Юг
                            .block-table-mobile__cell
                                +icon('check', 'block-table-mobile__icon')
                                .block-table-mobile__cell-item
                                    p.block-table-mobile__subtitle Сборка домокомплекта
                                    p.block-table-mobile__text На фундаменте Заказчика
                            .block-table-mobile__cell
                                +icon('check', 'block-table-mobile__icon')
                                .block-table-mobile__cell-item
                                    p.block-table-mobile__subtitle Фундамент
                                    p.block-table-mobile__text Железо-бетонные забивные сваи, длина 3 м
                            .block-table-mobile__cell
                                +icon('check', 'block-table-mobile__icon')
                                .block-table-mobile__cell-item
                                    p.block-table-mobile__subtitle Кровельное покрытие
                                    p.block-table-mobile__text Мягкая битумная черепица Shinglas, цвет на выбор. С доставкой и монтажом
                            .block-table-mobile__cell
                                +icon('check', 'block-table-mobile__icon')
                                .block-table-mobile__cell-item
                                    p.block-table-mobile__subtitle Вентиляция
                                    p.block-table-mobile__text Вентиляция для каркасного дома
                            .block-table-mobile__cell
                                +icon('check', 'block-table-mobile__icon')
                                .block-table-mobile__cell-item
                                    p.block-table-mobile__subtitle Остекление
                                    p.block-table-mobile__text Двухкамерные пластиковые стеклопакеты белого цвета, с отливами, доставкой и монтажом
                            .block-table-mobile__cell
                                +icon('check', 'block-table-mobile__icon')
                                .block-table-mobile__cell-item
                                    p.block-table-mobile__subtitle Двери
                                    p.block-table-mobile__text Металлические входные двери. С доставкой и монтажом
                        button.block-table-mobile__button
                            span раскрыть
                            +icon('arrow-small_down')
        .card-product__contact-form
            .contact-form
                .contact-form__background
                    img(src=require('../../public/images/contact-form.jpg')).contact-form__image
                .contact-form__container.container
                    .contact-form__wrapper
                        .contact-form__header.contact-form__header--big
                            h2.contact-form__title.contact-form__title--big.title.title--gradient Хочу такой же дом!
                        form.contact-form__main
                            .contact-form__main-wrapper
                                p.contact-form__caption Обратиться к нам
                                label.contact-form__label
                                    input(type="text" name="username" placeholder="Имя(без фамилии)" required).contact-form__input
                                label.contact-form__label
                                    input(type="text" name="userphone" placeholder="Телефон" required).contact-form__input.phone-mask
                                button(type="submit").contact-form__submit.btn.btn--primary оставить заявку