extends ../layout/default
include ../components/mixins/loop
include ../components/mixins/icon

block vars
    - pageClass = 'how-order'
    - headTitle = 'Как заказать дом'
block content
    .page-content
        .how-order__breadcrumbs
            .container
                .breadcrumbs
                    a(href="#") Главная
                    a(href="#") Как заказать дом
        .how-order-banner
            .container
                h2.how-order-banner__title.title Как заказать дом
                p.how-order-banner__subtitle Вы можете заказать строительство дома в любой степени готовности
                .how-order-banner__items
                    p.how-order-banner__item От изготовления домокомплекта для самостоятельной сборки
                    +icon('line2')
                    p.how-order-banner__item.how-order-banner__item--2 До строительства дома «под ключ», включая инженерные системы и внутреннюю отделку
                .how-order-banner__block
                    span.icon-number 1
                    p Определитесь с проектом дома
                .how-order-banner__blocks
                    .how-order-banner__point
                        .how-order-banner__point-icon
                            +icon('questionmark')
                        p Какой метраж?
                    .how-order-banner__point
                        .how-order-banner__point-icon
                            +icon('questionmark')
                        p Внешний вид?
                    .how-order-banner__point
                        .how-order-banner__point-icon
                            +icon('questionmark')
                        p Сколько этажей?
                    .how-order-banner__point
                        .how-order-banner__point-icon
                            +icon('questionmark')
                        p Типовой проект
                            br
                            | или индивидуальный?
        .how-order-standard
            .container
                .how-order-standard__wrapper
                    .how-order-standard__background
                        img(src=require('../../public/images/how-order-standard__background.png'))
                    .how-order-standard__sect
                        .how-order-standard__items
                            .how-order-standard__item
                                .how-order-standard__image
                                    img(src=require('../../public/images/kak_zakazat_1.png'))
                                p до 100 кв.м
                            .how-order-standard__item
                                .how-order-standard__image
                                    img(src=require('../../public/images/kak_zakazat_2.png'))
                                p 101-150 кв.м
                            .how-order-standard__item
                                .how-order-standard__image
                                    img(src=require('../../public/images/kak_zakazat_3.png'))
                                p 151-200 кв.м
                            .how-order-standard__item
                                .how-order-standard__image
                                    img(src=require('../../public/images/kak_zakazat_4.png'))
                                p От 200 кв.м
                        a(href="#").how-order-standard__link посмотреть типовые проекты
                            +icon('arrow-small_right')
                    .how-order-standard__sect
                        .how-order-standard__item
                            .how-order-standard__image--big
                                img(src=require('../../public/images/kak_zakazat_5.png'))
                            a(href="#").how-order-standard__link Хочу индивидуальный
                                span проект
                                    +icon('arrow-small_right')
        .how-order-technology
            .container
                .how-order-technology__wrapper
                    .bootstrap-wrapper
                        .row
                            .col-md-6
                                img(src='')
                            .col-md-6
                                .how-order-banner__block
                                    span.icon-number 2
                                    p Выберите технологию строительства
                                .how-order-banner__cell
                                    +icon('')
                                    p Узнать больше о нашей технологии
        .how-order-complete
            .container
                .how-order-banner__block
                    span.icon-number 3
                    p Выберите комплектацию
                p.how-order-complete__text Вы будете строить своими силами или поручите строительство дома нашей компании?
                .how-order-complete__items
                    .how-order-complete__item
                        p Комплект без сборки
                    .how-order-complete__item
                        p Комплект с доставкой, сборкой и фундаментом
                    .how-order-complete__item
                        p Комплект  со сборкой
                    .how-order-complete__item
                        p Комплект с доставкой, сборкой, фундаментом, отделкой кровли, окнами, дверью и вентиляцией.
        .how-order-funding
            .how-order-funding__background
                img('')
                img('')
            .container
                img('').how-order-funding__image
                .how-order-funding__content
                    .how-order-funding__wrapper
                        .how-order-banner__block
                            span.icon-number 4
                            p Определитесь с источниками финансирования
                        .how-order-funding__item
                            p Мы предлагаем поэтапную оплату, привязанную к фактическому выполнению
                        .how-order-funding__item
                            p У нас также можно построить дом в кредит, мы работаем со всеми ведущими банками. Также мы работаем с материнским капиталом и военной ипотекой

                .how-order-banner__block
                    span.icon-number 5
                    p Заключите договор на строительство
                .how-order-banner__month
                    p 3
                        span месяца
                    p От заключения договора до дома в комплектации «теплый контур»
                p.how-order-banner__subtitle Из чего складывается этот срок
                ul.how-order-banner__ul
                    li Проектирование (индивидуальное либо на основе типового проекта)
                    li Монтаж самого дома на объекте бригадой из 2-3 человек
                    li Внешняя отделка (кровля, фасад, окна, входные двери, водостоки и т.д.)
                    li Инженерные сети и внутренняя отделка – при необходимости
                    li Производство домокомплекта на заводе
                    li Фундамент
        .how-order-engineering
            .how-order-engineering__background
                img('')
            .container
                .how-order-banner__block
                    span.icon-number 6
                    p Выберите инженерные сети и чистовую отделку
                ul.how-order-banner__ul
                    li Система отопления
                    li Газгольдер
                    li Электрооборудование
                    li Скважина, колодец
                    li Горячее и холодное водоснабжение
                    li Внутренняя чистовая отделка
                    li Септик, очистная станция
                    li Дизайн интерьера
                    li Ландшафтный дизайн
        .how-order-furniture
            .container
                .how-order-banner__block
                    span.icon-number 7
                    p Выбирайте мебель и готовьтесь к переезду
                p.how-order-complete__text Через 100 дней с момента принятия решения о строительстве с Эко-Сити
                .how-order-furniture__items
                    .how-order-furniture__item
                    .how-order-furniture__item
        .contact-form
            .contact-form__background
                img(src=require('../../public/images/contact-form-3.jpg')).contact-form__image
            .contact-form__container.container-small
                .contact-form__wrapper
                    .contact-form__header
                        h2.contact-form__title.title.title--gradient Давайте начнем!
                        p Чтобы стать заказчиком, позвоните (812) 950-60-50
                            br
                            | или оставьте заявку на обратный звонок.
                    form.contact-form__main
                        .contact-form__main-wrapper
                            p.contact-form__caption Обратиться к нам
                            label.contact-form__label
                                input(type="text" name="username" placeholder="Имя(без фамилии)" required).contact-form__input
                            label.contact-form__label
                                input(type="text" name="userphone" placeholder="Телефон" required).contact-form__input.phone-mask
                            button(type="submit").contact-form__submit.btn.btn--primary оставить заявку