.block-built
    .container-small
        h2.block-built__title.title Построенные дома
        .slider-default.swiper
            .slider-default__wrapper.swiper-wrapper
                .block-built-slide.swiper-slide
                    img(src=require('../../public/images/block-built__slide.jpg')).block-built-slide__image
                    p.block-built-slide__title Осиновая роща
                .block-built-slide.swiper-slide
                    img(src=require('../../public/images/block-built__slide.jpg')).block-built-slide__image
                    p.block-built-slide__title Осиновая роща
                .block-built-slide.swiper-slide
                    img(src=require('../../public/images/block-built__slide.jpg')).block-built-slide__image
                    p.block-built-slide__title Осиновая роща
                .block-built-slide.swiper-slide
                    img(src=require('../../public/images/block-built__slide.jpg')).block-built-slide__image
                    p.block-built-slide__title Осиновая роща
                .block-built-slide.swiper-slide
                    img(src=require('../../public/images/block-built__slide.jpg')).block-built-slide__image
                    p.block-built-slide__title Осиновая роща
            .block-built__buttons
                .block-built__pagination.slider-default__pagination.swiper-pagination
                a(href="#").btn.btn--primary смотреть все проекты