.block-advantages
    img(src=require('../../public/images/block-advantages__background.svg')).block-advantages__background
    .block-advantages__container.container-small
        h2.block-advantages__title.title Преимущества запатентованной технологии ЭКО-СИТИ
        p.block-advantages__text
            | Особое внимание мы уделяем прочности здания. Собственное производство
            br
            | и проектный отдел позволили нам усовершенствовать самые важные узлы и устранить
            br
            | минусы канадской технологии. Результатом этого стали 3 патента на технологию сборки.
        .block-advantages-block
            p.block-advantages-block__title Посадка стропил в упор на опорную кровлю
            ul.block-advantages-block__list.ul
                li Надежное крепление стропил
                li Исключение прогиба кровли и деформации стен
        .block-advantages__center
            img(src=require('../../public/images/block-advantages__home.png')).block-advantages__image
            .block-advantages__items
                .block-advantages-item
                    p.block-advantages-item__title Даем пожизненную гарантию
                .block-advantages-item
                    img(src=require('../../public/images/block-advantages__item1.png'))
                .block-advantages-item
                    img(src=require('../../public/images/block-advantages__item2.png'))
                .block-advantages-item
                    img(src=require('../../public/images/block-advantages__item3.png'))
                .block-advantages-item
                    img(src=require('../../public/images/block-advantages__item4.png'))
                    p.block-advantages-item__text Патент №174105
                .block-advantages-item
                    img(src=require('../../public/images/block-advantages__item5.png'))
                .block-advantages-item
                    img(src=require('../../public/images/block-advantages__item6.png'))
                    p.block-advantages-item__text Патент №174105
                .block-advantages-item
                    img(src=require('../../public/images/block-advantages__item7.png'))
                .block-advantages-item
                    img(src=require('../../public/images/block-advantages__item8.png'))
                    p.block-advantages-item__text Патент №180607