.block-reviews
    .container-small
        h2.block-reviews__title.title Отзывы
        .slider-default.swiper
            .slider-default__wrapper.swiper-wrapper
                .block-reviews__slide.block-built-slide.swiper-slide
                    a(href="#").block-reviews__link
                    .block-reviews__image.block-built-slide__image
                        +icon('play')
                        img(src=require('../../public/images/block-built__slide.jpg'))
                    p.block-built-slide__title Антонио Бандерас
                .block-reviews__slide.block-built-slide.swiper-slide
                    a(href="#").block-reviews__link
                    .block-reviews__image.block-built-slide__image
                        +icon('play')
                        img(src=require('../../public/images/block-built__slide.jpg'))
                    p.block-built-slide__title Антонио Бандерас
                .block-reviews__slide.block-built-slide.swiper-slide
                    a(href="#").block-reviews__link
                    .block-reviews__image.block-built-slide__image
                        +icon('play')
                        img(src=require('../../public/images/block-built__slide.jpg'))
                    p.block-built-slide__title Антонио Бандерас
                .block-reviews__slide.block-built-slide.swiper-slide
                    a(href="#").block-reviews__link
                    .block-reviews__image.block-built-slide__image
                        +icon('play')
                        img(src=require('../../public/images/block-built__slide.jpg'))
                    p.block-built-slide__title Антонио Бандерас
                .block-reviews__slide.block-built-slide.swiper-slide
                    a(href="#").block-reviews__link
                    .block-reviews__image.block-built-slide__image
                        +icon('play')
                        img(src=require('../../public/images/block-built__slide.jpg'))
                    p.block-built-slide__title Антонио Бандерас
            .block-built__buttons
                .block-built__pagination.slider-default__pagination.swiper-pagination
                a(href="#").btn.btn--primary смотреть все отзывы