.block-mortgage
    .block-mortgage__background
        img(src=require('../../public/images/block-mortgage__background.png'))
    .block-mortgage__wrapper
        .block-mortgage__container.container-small
            h2.block-mortgage__title.title интересуетесь ипотекой?
            p.block-mortgage__text Мы работаем со всеми ведущими банками России
            .block-mortgage-items
                .block-mortgage-item
                    .block-mortgage-item__wrapper
                        img(src=require('../../public/images/block-mortgage-item-1.png')).block-mortgage-item__image
                        div.block-mortgage-item__content
                            p.block-mortgage-item__title Ставка от
                            p.block-mortgage-item__subtitle 6—6,5%
                .block-mortgage-item
                    .block-mortgage-item__wrapper
                        img(src=require('../../public/images/block-mortgage-item-2.png')).block-mortgage-item__image
                        div.block-mortgage-item__content
                            p.block-mortgage-item__title Ставка от
                            p.block-mortgage-item__subtitle 6—6,5%
                .block-mortgage-item
                    .block-mortgage-item__wrapper
                        img(src=require('../../public/images/block-mortgage-item-3.png')).block-mortgage-item__image
                        div.block-mortgage-item__content
                            p.block-mortgage-item__title Ставка от
                            p.block-mortgage-item__subtitle 6—6,5%
                .block-mortgage-item
                    .block-mortgage-item__wrapper
                        img(src=require('../../public/images/block-mortgage-item-4.png')).block-mortgage-item__image
                        div.block-mortgage-item__content
                            p.block-mortgage-item__title Ставка от
                            p.block-mortgage-item__subtitle 6—6,5%