.block-projects
    .container-small
        h2.block-projects__title.title.title--gradient Наши проекты
        .block-projects__items
            article.project
                a(href="#").project__link
                .project__wrapper
                    .project__header
                        img(src=require('../../public/images/projects/1.jpg')).project__image
                        p.badge.project__badge.badge--blue НОВИНКА
                    .project__main
                        h3.project__title Осиновая роща
                        p.project__area
                            +icon('area')
                            | Общая площадь:
                            span 53.12 м2
                        p.project__price 1 974 780 ₽
            article.project
                a(href="#").project__link
                .project__wrapper
                    .project__header
                        img(src=require('../../public/images/projects/2.jpg')).project__image
                        p.badge.project__badge.badge--red АКЦИЯ
                    .project__main
                        h3.project__title Осиновая роща
                        p.project__area
                            +icon('area')
                            | Общая площадь:
                            span 53.12 м2
                        p.project__price 1 974 780 ₽
            article.project
                a(href="#").project__link
                .project__wrapper
                    .project__header
                        img(src=require('../../public/images/projects/3.jpg')).project__image
                        p.badge.project__badge.badge--green ХИТ
                    .project__main
                        h3.project__title Осиновая роща
                        p.project__area
                            +icon('area')
                            | Общая площадь:
                            span 53.12 м2
                        p.project__price 1 974 780 ₽
            article.project
                a(href="#").project__link
                .project__wrapper
                    .project__header
                        img(src=require('../../public/images/projects/4.jpg')).project__image
                    .project__main
                        h3.project__title Осиновая роща
                        p.project__area
                            +icon('area')
                            | Общая площадь:
                            span 53.12 м2
                        p.project__price 1 974 780 ₽
            article.project
                a(href="#").project__link
                .project__wrapper
                    .project__header
                        img(src=require('../../public/images/projects/5.jpg')).project__image
                    .project__main
                        h3.project__title Осиновая роща
                        p.project__area
                            +icon('area')
                            | Общая площадь:
                            span 53.12 м2
                        p.project__price 1 974 780 ₽
            article.project
                a(href="#").project__link
                .project__wrapper
                    .project__header
                        img(src=require('../../public/images/projects/6.jpg')).project__image
                    .project__main
                        h3.project__title Осиновая роща
                        p.project__area
                            +icon('area')
                            | Общая площадь:
                            span 53.12 м2
                        p.project__price 1 974 780 ₽
        .block-projects__footer
            a(href="#").btn.btn--primary Смотреть все проекты
            a(href="#").btn.btn--primary-outline Как заказать дом